@model PlaceHolderProject.Repositories.Users.User
<tr>
    <td>@Model.Username</td>
    <td>@Model.Name</td>
    <td>@Model.Email</td>
    <td>
        @Html.ActionLink("Details", "Details", new {Model.Id}) 
        |
        @Html.ActionLink("Delete", "Delete", null, new {Model.Id}, new{@class = "pop"}) 
    </td>
</tr>