@model PlaceHolderProject.Repositories.Users.Address

<div>
    @Html.LabelFor(x => x.Street)
    @Html.DisplayFor(x => x.Street)
    @Html.LabelFor(x => x.Suite)
    @Html.DisplayFor(x => x.Suite)
    @Html.LabelFor(x => x.City)
    @Html.DisplayFor(x => x.City)
    @Html.LabelFor(x => x.ZipCode)
    @Html.DisplayFor(x => x.ZipCode)
</div>
<div>
    @Html.LabelFor(x => x.Geo.Latitude)
    @Html.DisplayFor(x => x.Geo.Latitude)
    @Html.LabelFor(x => x.Geo.Longitude)
    @Html.DisplayFor(x => x.Geo.Longitude)
</div>