@model PlaceHolderProject.Repositories.Users.User

<div>
    @Html.LabelFor(x => x.Username)
    @Html.DisplayFor(x => x.Username)
    @Html.LabelFor(x => x.Email)
    @Html.DisplayFor(x => x.Email)
    @Html.LabelFor(x => x.Name)
    @Html.DisplayFor(x => x.Name)
</div>
<div>
    @Html.DisplayFor(x => x.Address)
</div>